<div class="container my-1">
    <h2>Count of task:
        {{ tasks.length }}
    </h2>
    <div class="addTaskBlock py-3 border-top border-bottom mt-4">
        <input class="form-control" type="text" [(ngModel)]="name" name="name"
            [ngClass]="alert ? 'border-danger' : 'border'">
        <button type="button" class="btn btn-success pr-5 pl-5" (click)="addTask()">Add</button>
    </div>
    <table class="table">
        <thead>
            <tr class="row-list">
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Check</th>
                <th scope="col">DONE/IN PROGRESS</th>
                <th scope="col">Edit</th>
                <th scope="col">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ task.name }}</td>
                <td><input type="checkbox" (click)="change(task)"></td>
                <td *ngIf="task.status" class="text-success">Done</td>
                <td *ngIf="!task.status" class="text-danger">In PROGRESS</td>
                <td><button class="btn btn-warning" (click)="editTask(i, task)">Edit</button></td>
                <td><button class="btn btn-danger" [disabled]="task.status ? false: true"
                        (click)="deleteTask(i)">Delete</button>
                </td>
            </tr>
            <tr *ngIf="showEdit" class="bg-save">
                <td></td>
                <td></td>
                <td></td>
                <td><input class="form-control w-50" type="text" [(ngModel)]="textEdit" name="textEdit"></td>
                <td><button class="btn btn-success" (click)="saveEditTask()">Save</button></td>
            </tr>
        </tbody>
    </table>
</div>