<main class="d-flex justify-content-center align-items-center">
    <div class="container-fluid d-flex justify-content-around">
        <div class="card" style="width: 20rem;">
            <img src="../../../assets/images/work-bad-words.jpg" class="card-img-top" alt="work bad words">
            <div class="card-body">
                <h5 class="card-title text-danger text-center font-weight-bold">Angular list of prohibited words</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-success btn-block" routerLink="/works/cenzor">details</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img src="../../../assets/images/work-users-task.jpg" class="card-img-top" alt="work task list">
            <div class="card-body">
                <h5 class="card-title text-danger text-center font-weight-bold">Angular users list</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-success btn-block" routerLink="/works/userlist">details</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img src="../../../assets/images/work-task-list.jpg" class="card-img-top" alt="work users task">
            <div class="card-body">
                <h5 class="card-title text-danger text-center font-weight-bold">Angular task list</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-success btn-block" routerLink="/works/tasklist">details</a>
            </div>
        </div>
    </div>
</main>