<div class="container-fluid px-4 mt-5 d-flex justify-content-between">
    <form class="container-fluid">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" [(ngModel)]="login" name="login" id="login"
                placeholder="Enter login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password"
                placeholder="Enter password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="email" id="email"
                placeholder="Enter email">
        </div>
        <input *ngIf="!btnSaveEdit" type="button" value="Add user" class="btn btn-success btn-block mt-3"
            (click)="addUser()">
        <input *ngIf="btnSaveEdit" type="button" value="Save edit user" class="btn btn-primary btn-block mt-3"
            (click)="saveEditUser()">
    </form>
    <table class="container-fluid">
        <thead>
            <tr class="row-list">
                <th scope="col">#</th>
                <th scope="col">Login</th>
                <th scope="col">Password</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td><button class="btn btn-warning" (click)="editUser(i, user)">Edit</button></td>
                <td><button class="btn btn-danger" [disabled]="btnDeleteDis" (click)="deleteUser(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>